.start-page__container {
     display: flex;
    
}

.header__content {
    background: linear-gradient(56deg, rgba(2, 0, 36, 1) 0%, rgba(0, 42, 60, 1) 60%);
height: 100%;
padding: 35px 75px 75px 75px
}

.container__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title__caption {
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.title__quote {
    font-size: 30px;
    color: white;
}

.quote__author {
    margin: 0;
    font-size: 16px;
    color: grey;
}

.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__car {
    width: 100%;
}