.header__content {
    background: linear-gradient(56deg, rgba(2, 0, 52, 1) 0%, rgba(154, 0, 0, 1) 90%);
    padding: 15px 75px 75px 75px;
    height: 100%;
}

.start-page__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}

.title__caption {
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.title__quote {
    font-size: 30px;
    color: white;
}

.quote__author {
    margin: 0;
    font-size: 16px;
    color: grey;
}

.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__image__left {
    margin-right: 70px;
}

.left__logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}