.menu__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.container__button-and-modals {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}