.car-info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.car-info__container h1 {
    margin: 10px;
    font-weight: 200;
    font-size: 32px;
}

.track-info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.track-info__container button {
    height: 75px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    background-color: rgba(28,28,28,0);
    border: 2px rgb(73, 138, 235) solid;
    color: rgb(73, 138, 235);
    font-weight: 100;
}

.car-info__container button {
    height: 75px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    background-color: rgba(28,28,28,0);
    border: 2px rgb(73, 138, 235) solid;
    color: rgb(73, 138, 235);
    font-weight: 100;
}

.track-info__container button:hover {
    opacity: 0.75;
}

.car-info__container button:hover {
    opacity: 0.75;
}

.track-info__container h1 {
    margin: 10px;
    font-weight: 200;
    font-size: 32px;
}