.start-page__container {
    height: 100%;
        display: flex;
    padding: 20px;
    
}

.container__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title__caption {
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.title__quote {
    font-size: 30px;
    color: white;
}

.quote__author{
    margin: 0;
    font-size: 16px;
    color: grey;
}

.container__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__car {
    width: 100%;
}