.active-menu__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-right: 25px;
}

.active-menu__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal__info {
    display: flex;
    flex-direction: column;
}

.info__element {
    display: flex;
    align-items: center;
    color: white;
}

.element__value {
    font-size: 20px;
    margin-left: 20px;
}

.element__name {
    font-size: 20px;
}