.about-sport__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-sport__wrapper p {
    color: white;
    font-size: 32px;
    font-weight: 200;
}

.about-sport__wrapper button {
    width: 370px;
    height: 90px;
    font-size: 28px;
    border-radius: 10px;
    background-color: rgba(28,28,28,0);
    border: 2px rgb(73, 138, 235) solid;
    color: rgb(73, 138, 235);
    font-weight: 100;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.about-sport__wrapper button:hover {
    opacity: 0.75;
}