.aboutsport__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__text {
    color: lightgrey;
    font-size: 22px;
    text-align: center;
    margin: 28px 0 29px 0;
    padding: 0 200px 0 200px;
}