.aboutcross__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(36deg, hsl(243, 96%, 11%) 0%, rgb(60, 126, 23) 120%);
}

.wrapper__text {
    width: 50%;
}