.header__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header__box h1 {
    color: white;
    margin: 0px 0 0 30px;
    font-size: 40px;
}

.header__box img {
    margin: 30px;
}